@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background-color: #CFCFCF;
  width: 50px;
  height: 10px;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: #DDF247;
  width: 82px;
}