@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
   border-radius: 0;
   height: 10px;
   width: 50px;
   background: #CFCFCF;
   opacity: 1;
   transition: all 0.3s ease-in;
}

.swiper-pagination-bullet-active {
   background: #DDF247;
   width: 80px;
}

.accordion {
   display: grid;
   grid-template-rows: 0fr;
   transition: grid-template-rows 0.5s ease-out;
 }
 
 .accordion.is-open {
   grid-template-rows: 1fr;
 }
 

 .slide-in-y {
   @apply translate-y-0 opacity-100 transition-all duration-700 ease-in-out;
 }

 .slide-out-y {
   @apply translate-y-20 opacity-0;
 }